<center>

    <title>Kill Error</title>

    <h2>An error has occurred killing a program or proccess</h2>
    <h3><code>Reason: You cannot kill this program or proccess.</code></h3>

    <h2>Program Info:</h2>
    <h3><code>Name: <%- program %></code></h3>
    <h3><code>Status: Protected from getting killed.</code></h3>


</center>