<html>
<title>Main Page</title>



<h1>Express is up and running!</h1>
<h3>Script Directory: <%= script_directory%> </h3>
<h3>Logs Directory: Logs maybe or are coming in a future update!</h3>
</html>