
    <style type="text/css">

        html, body {
            height: 95%;
        
        }
        
         .output {
            white-space: pre-wrap;
            background: #F1F1F1;
            height: 35%;
            overflow: auto;
         }
        
        </style>
        
        <center>
        
            <h2>Success!</h2>
            <h3>Killed a programm or process without any problems!</h3>
            <h3>Killing Info:</h3>
            <h3><code> Program Name: <%- program %> </code></h3>
            <h3>Output:</h3>
        
            <p class="output" name="output" 
            <h3><code> <%= output%> </code></h3> 
            </p>
            
            </center>